{{#each uploads as |upload|}}
<div class="images col-sm-2" style="background-image:url({{upload.url}})">
  <div class="overlay">
  </div>
  <!-- <a href="{{upload.url}}" target="_blank"><img class="images" src="{{upload.url}}"></a> -->
  <p class="hidden-text">{{upload.tag}}</p>
  <p class="hidden-text">{{upload.name}}</p>
  <p class="hidden-text">{{upload.size}} MB</p>
  <a class="table-data" href="{{upload.url}}" target="_blank"><button data-id="{{upload.id}}" class="hidden-buttons btn btn-sm" type="click">View here</button></a>
</div>
{{/each}}
