{{#each uploads as |upload|}}
<div class="images col-sm-2" style="background-image:url({{upload.url}})">
  <div class="overlay">
  </div>
  <!-- <a href="{{upload.url}}" target="_blank"><img class="images" src="{{upload.url}}"></a> -->
  <p class="hidden-text">{{upload.name}}</p>ß
  <p class="hidden-text">{{upload.createdAt}}</p>
  <p class="hidden-text">{{upload.size}} MB</p>
  <button data-id="{{upload.id}}" class="hidden-buttons remove-button btn btn-sm" type="submit">delete</button>
  <button class="hidden-buttons update-button btn btn-sm" data-toggle="modal" data-target="#editModal" data-id="{{upload.id}}" data-name="{{upload.name}}" data-des="{{upload.description}}" data-tag="{{upload.tag}}" type="button">
     edit
  </button>
  <a class="table-data" href="{{upload.url}}" target="_blank"><button data-id="{{upload.id}}" class="hidden-buttons btn btn-sm" type="click">View here</button></a>
</div>
{{/each}}
