{{#each uploads as |upload|}}

      <div>
          <div>
            <h1>anything</h1>
            <h1>{{upload.name}}</h1>
            <h1>{{upload.createdAt}}</h1>
            <h1>{{upload.updatedAt}}</h1>
            <h1>{{upload.url}}</h1>
            <h1>{{upload._id}}</h1>
            <h1>{{uploads.name}}</h1>
          </div>
      </div>

{{/each}}
